<div class="row">
    <div class="col-xs-12 panel-heading">
    <div class="col-xs-12">
        <img 
        src="" 
        alt="" 
        class="img-responsive"
        style = "max-height: 250px;">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <span class="header">Contactor</span>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="btn-goup">
            <div class = "col-xs-6">
                
            </div>
            <button 
            type="button" 
            class ="btn btn-primary">
            Edit</button>
        
            <button 
            type="button" 
            class ="btn btn-danger">
            Edit</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Email:</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <p>Phone:</p>
    </div>
</div>

