
<div class="row">
    <div class="panel panel-default">
        <div class="col-xs-12 panel-heading">
            <div class="col-xs-8">
                <span class="heading">Contacts</span>
            </div>
            <div class="col-xs-4">
                <a class="btn btn-success pull-right" [routerLink]= "['new']">New Contact</a>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12">
                    <app-contact-person
                    *ngFor="let contact of contacts; let i = index"
                    [contact]="contact"
                    [index]="i"
                    >
                    </app-contact-person>
                </div>
            </div>
        </div>
    </div>
</div>
